 body{
     background-color:gray;
     height:100%;
  
 }

 #container{
     width:auto;
     min-height:100%;
 }
.header{
 
    height:25%;
    width:auto;
    background-image:url(../images/universe.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    padding:3%;

}

.bread-container{
    background-color:blue;

}

.bread-container ul{
  margin-top:50px;
}
.breadcrumb{
    display:inline;
    cursor:pointer;

  
}
.breadcrumb li{
    padding:20px;
}


.breadcrumb a{
    text-decoration:none;
    margin: 20px 5px;
}

.Logo {
    margin-right:auto;
    margin-left:auto;
    text-align:center;
   
}

.Logo p {
    font-size: 3rem;
    font-family: 'Charmonman', cursive;
    color:white;

}
/* the beginning of the body styling*/

.section-body {
     width:50%;
     height:auto;
     display: inline-block;
     margin-left:5%;
     margin-top:2%;
     margin: 4%;
    
}

.sectionbody2{
    width:25%;
    height:auto;
    display:inline-block;
    margin-top:2%;
    margin-right:3%;

}

hr{
   
   width:auto;
}

.intro{
     margin-top:20px;
}


#footer{
    height:15%;
    width:auto;
    background-image:url(../images/universe.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:absolute;
    bottom:0;
    width:100%;
    overflow:hidden;
}

/*
